/*
grey 1b1d21
*/

:root {
  --animate-mt: 5rem;
  --animate-mt: 3rem;
  --mt: 2rem;
}
/*************************ELEMENTS*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #1b1d21;
  width: 1240px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1b1d21;
  font-family: Poppins, sans-serif;
}
/*************************LOGIN*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  height: 50rem;
  border-radius: 2rem;
  padding: 0.4rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #e9e9e9;
}
.login {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 1.2rem;
  background-color: #ffffff;
  width: 25rem;
  height: 100%;
}
.login img {
  display: block;
  width: 5rem;
  height: 5rem;
  margin: auto;
}
.login p {
  display: block;
  text-align: center;
}
.login .welcome {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.2rem;
}
.details {
  font-size: 0.7rem;
  margin-top: 0.2rem;
}
/*************************FORM*/
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form input {
  width: 20rem;
  height: 3.5rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  font-size: 0.8rem;
  border-bottom: 2px solid #1b1d21;
}
#eye {
  position: absolute;
  left: 19.6em;
  top: 6.8rem;
}
/*************************FORM*/
.forgot {
  display: flex;
  margin-top: 1.2rem;
  padding: 0.2rem 0;
  transition: all 0.4s;
}
.forgot div,
.forgot p {
  display: flex;
  font-size: 0.65rem;
  color: #b2b3b3;
}
.forgot div p {
  margin-left: 0.4rem;
  font-weight: bold;
  color: #1b1d21;
}
.forgot div {
  margin-left: 1.2rem;
}
#pss {
  margin-left: 5.6rem;
}
#pss:hover {
  color: #1b1d21;
  cursor: pointer;
}
/*********************LOGIN BUTTON*/
.sec-2 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.sec-2 button img {
  width: 1.3rem;
  height: 1.3rem;
}
.login-button,
.sec-2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 18rem;
  margin-top: 2rem;
  padding: 1.2rem 6rem;
  border-radius: 2rem;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  background-color: #1b1d21;
  transition: all 0.4s;
}
.sec-2 p {
  margin-top: 7rem;
  font-size: 0.7rem;
}
.sec-2 p span {
  font-weight: bold;
  color: #1b1d21;
}
.sec-2 p span:hover {
  cursor: pointer;
  border-bottom: 1px solid #1b1d21;
  padding-bottom: 0.2rem;
}
#google {
  display: flex;
  margin-top: 0.6rem;
}
#google img {
  margin-right: 0.4rem;
}
#google:hover,
.sec-2 button:hover {
  color: #1b1d21;
  background-color: #f3f3f3;
}
#rem {
  accent-color: #1b1d21;
}
/*********************ANIME*/
.anime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45rem;
  /* background-color: green; */
}
.anime img {
  width: 28rem;
  height: 28rem;
}
/*********************MEDIA QUERY*/
@media screen and (min-width: 375px) and (max-width: 445px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
  }
  .login {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .anime img {
    display: none;
  }
  .forgot {
    width: 100%;
    margin-left: -1.8rem;
    white-space: nowrap;
  }
  #eye {
    position: absolute;
    left: 17rem;
    top: 6.6rem;
  }
}

@media screen and (min-width: 396px) and (max-width: 536px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
  }
  .login {
    display: flex;
    width: 95%;
    height: 100%;
  }
  .anime img {
    display: none;
  }
  .forgot {
    width: 100%;
    margin-left: 1.2rem;
    white-space: nowrap;
  }
  #eye {
    position: absolute;
    left: 19rem;
    top: 6.6rem;
  }
}
@media screen and (min-width: 537px) and (max-width: 624px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
  }
  .login {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .form {
    width: 100%%;
  }
  .anime img {
    display: none;
  }
  .forgot {
    width: 100%;
    white-space: nowrap;
  }
  #eye {
    position: absolute;
    left: 85%;
    top: 6.9rem;
  }
}
@media screen and (min-width: 625px) and (max-width: 677px) {
  .container {
    display: flex;
    width: 80%;
    height: 80%;
  }
  .login {
    display: flex;
    width: 80%;
    height: 100%;
  }
  .anime img {
    display: flex;
    width: 80%;
    height: 80%;
  }
  .forgot {
    width: 100%;
    white-space: nowrap;
  }
  #eye {
    position: absolute;
    left: 90%;
  }
}
@media screen and (min-width: 678px) and (max-width: 778px) {
  .container {
    width: 96%;
    height: 80%;
  }
  .login {
    display: flex;
    width: 25rem;
    height: 100%;
  }
  .anime img {
    display: flex;
    width: 15rem;
    height: 15rem;
  }
  .forgot {
    width: 100%;
    white-space: nowrap;
  }
}
@media screen and (min-width: 779px) and (max-width: 1240px) {
  .container {
    width: 90%;
    height: 80%;
  }
  .login {
    width: 25rem;
    height: 100%;
  }
  .anime img {
    width: 20rem;
    height: 20rem;
  }
  .forgot {
    width: 100%;
    white-space: nowrap;
  }
}
