/*
grey 1b1d21
*/

:root {
  --animate-mt: 5rem;
  --animate-mt: 3rem;
  --mt: 2rem;
}
/*************************ELEMENTS*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b1d21;
  width: 80rem;
  min-height: 100vh;
  margin: auto;
  background-color: #1922478a;
  font-family: Poppins, sans-serif;
  overflow: hidden;
}
/*************************LOGIN*/
.container {
  display: flex;
  width: 60rem;
  height: 40rem;
  border-radius: 2rem;
  padding: 0.4rem;
  background-color: #e9e9e9;
}
.login {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  padding: 1.2rem;
  background-color: #ffffff;
}
.login img {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: auto;
}
.login p {
  display: block;
  text-align: center;
}
.login .welcome {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 2rem;
}
.detailin {
  font-size: 0.6rem;
  margin-top: 0.4rem;
}
/*************************FORM*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;
}
form input {
  width: 15rem;
  height: 2.5rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  font-size: 0.8rem;
  border-bottom: 2px solid #1b1d21;
}
#input {
  font-size: 0.7rem;
}
#eye {
  position: absolute;
  cursor: pointer;
  left: 14em;
  top: 5rem;
}
/*************************FORM*/

.forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
  padding: 0.2rem 0;
  transition: all 0.4s;
  font-size: 0.5rem;
  width: 15rem;
}
.forgot div {
  display: flex;
  color: #b2b3b3;
  white-space: nowrap;
}
.forgot div input {
  margin-top: -0.1rem;
  width: 0.7rem;
  height: 0.7rem;
}
.forgot div p {
  display: flex;
  margin-left: 0.2rem;
  font-weight: bold;
  color: #1b1d21;
}
#pss {
  display: flex;
  align-items: center;
  margin-left: 3.8rem;
  white-space: nowrap;
}
#pss:hover {
  color: #1b1d21;
  cursor: pointer;
}
/*********************LOGIN BUTTON*/
.sec-2 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 14rem;
  font-weight: bold;
  margin-top: 2.2rem;
  padding: 1.2rem 0;
  border-radius: 2rem;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  background-color: #1b1d21;
  transition: all 0.4s;
}
.sec-2 p {
  margin-top: 6rem;
  font-size: 0.6rem;
}
.sec-2 p span {
  font-weight: bold;
  color: #1b1d21;
}
.sec-2 p span:hover {
  cursor: pointer;
  border-bottom: 1px solid #1b1d21;
  padding-bottom: 0.2rem;
}

.sec-2 button:hover {
  color: #1b1d21;
  background-color: #f3f3f3;
}
.sec-2 button img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0;
}
.sec-2 button {
  font-size: 0.8rem;
}
button#google {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: none;
  background-color: #f3f3f3;
  color: #1b1d21;
  outline: none;
  margin-top: 0.8em;
}
button#google span {
  margin-left: 0.4rem;
}
#rem {
  accent-color: #1b1d21;
}
/*********************ANIME*/
.anime {
  flex: 1.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.anime img {
  width: 25rem;
  height: 25rem;
}

